# Editor detritus and backups
*~
*.bak
*.new
*.old
*.orig
.*.sw[pon]
.dir-locals.el
.#*
\#*

a.out
*.aux
*.core
core
*.idx
*.idx-in
*.log
*.o
*.scn
tmp
*.toc

*.tex
*.pdf

turtle
turtle.[ch]
cgl-opengl.h
cgl.[ch]
fragment.c
fragment.glsl
io.[ch]
log.[ch]
newwin.h
term.[ch]
vector.[ch]
vertex.c
vertex.glsl
win.c
